{% extends 'layout.html' %}

{% block content %}

<h1 align="center">Information</h2>

{% if messages %}
<div class="alert alert-danger" role="alert">
    {% for message in messages %}
        {{message}}
    {% endfor %}
</div>
{% endif %}

<style>
    div{
        border:solid black 0px;
    }
</style>


<div class="row">
    <div class="col-md-2">
        <div class="form-group">
            <div class="form-group" align="center">
                <label class="form-check-label" style="align-content: center;">Profile</label>
            </div>
            <div class="form-group" style="align-content: center;" align="center">
                <img srcset="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png 1x, https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png 1.778x" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" style="width: 180px;">
            </div> 
        </div>
    </div>
    <div class="col-md-10">
        <div class="form-group">
            <label class="form-check-label" >Name</label>
            <input class="form-control" disabled="disabled" value="{{first_name}} {{last_name}}">
        </div>
        
        <div class="form-group">
            <label class="form-check-label" >Username</label>
            <input class="form-control" disabled="disabled" value="{{username}}">
        </div>
        
        <div class="form-group">
            <label class="form-check-label" >E - Mail</label>
            <input class="form-control" disabled="disabled" value="{{email}}">
        </div>
    </div>
</div>



{% endblock %}