{% extends 'layout.html' %}

{% block content %}

<h1 align="center">Sign up</h2>

{% if messages %}
<div class="alert alert-danger" role="alert">
    {% for message in messages %}
        {{message}}
    {% endfor %}
</div>
{% endif %}


<form action="/addForm/" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="First name">First Name</label>
        <input type="text" class="form-control" name="firstname">
    </div>
    <div class="form-group">
        <label for="Last name">Last Name</label>
        <input type="text" class="form-control" name="lastname">
    </div>
    <div class="form-group">
        <label for="E-Mail">E-Mail</label>
        <input type="email" class="form-control" name="email">
    </div>
    <div class="form-group">
        <label for="Username">Username</label>
        <input type="text" class="form-control" name="username">
    </div>
    <div class="form-group">
        <label for="Password">Password</label>
        <input type="password" class="form-control" name="password">
    </div>
    <div class="form-group">
        <label for="Confirm Password">Confirm Password</label>
        <input type="password" class="form-control" name="confirmpassword">
    </div>
    <input type="submit" class="btn btn-success" value="Save">
</form>

{% endblock %}