{% extends 'layout.html' %}

{% block content %}

<h1 align="center">Information</h2>

{% if messages %}
<div class="alert alert-danger" role="alert">
    {% for message in messages %}
        {{message}}
    {% endfor %}
</div>
{% endif %}

<div class="form-group">
    <label class="form-check-label" >Name</label>
    <input class="form-control" disabled="disabled" value="{{first_name}} {{last_name}}">
</div>

<div class="form-group">
    <label class="form-check-label" >Username</label>
    <input class="form-control" disabled="disabled" value="{{username}}">
</div>

<div class="form-group">
    <label class="form-check-label" >E - Mail</label>
    <input class="form-control" disabled="disabled" value="{{email}}">
</div>

{% endblock %}